fastapi==0.121.2
joblib==1.5.2
matplotlib==3.10.7
numpy==2.3.5
pandas==2.3.3
protobuf==6.33.1
pydantic==2.12.4
python-dotenv==1.2.1
scikit_learn==1.7.2
sentence_transformers==5.1.2
SQLAlchemy==2.0.44
torch==2.9.1
uvicorn==0.24.0
pydantic[email]==2.12.4
google-genai
python-multipart
