fastapi==0.120.4
joblib==1.5.2
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
protobuf==6.33.0
pydantic==2.12.3
python-dotenv==1.2.1
scikit_learn==1.7.2
sentence_transformers==5.1.1
SQLAlchemy==2.0.44
torch==2.7.1+cu118
